@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Inter:wght@400;600&family=Lobster+Two:ital,wght@0,700;1,400;1,700&family=PT+Serif&family=Pacifico&family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
:root{
    --fontprice: 'Pacifico', cursive;
    --fontheader:'Inter', sans-serif;
    --fontproduct:'PT Serif', serif;
    --fontbaslik:'Agdasima', sans-serif;
    --fontpoppins: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}

/* header css */
header{
    position: sticky;
    top: 0;
    z-index: 500;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fontheader);
    padding: 5px 30px;
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
header .left{
    display: flex;
    align-items: center;
    justify-content: start;
}
header .left img{
    width: 60px;
    height: 60px;
}
header .left h1{
    font-size: 30px;
    padding-left: 15px;
}
header input{
    padding: 12px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    background: transparent;
    border: 1px solid rgb(250, 250, 250);   
}
header input::placeholder {
    color: hsla(0, 1%, 38%, 0.521);
}
header .right{
    gap: 10px;
    padding:0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #000000;
}
header .right div{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 10px;
}
header .right div:hover{
    background-color: #dbf26e;
    background-image: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%);
}
header .right div img{
    width: 30px;
    padding-right: 5px;
}
header .right div button{
    align-items: center;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
}
header .text{
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
    display: flex;
    align-items: center;
    justify-content: center;    
}
header .text marquee{
    color: white;
    width: 60%;
    letter-spacing: 2px;
}
header .text marquee span{
    color: red;
    text-transform: uppercase;
}
/* main */
main{
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: #D9AFD9;
    background-image: linear-gradient(90deg, #D9AFD9 0%, #97D9E1 100%);
}
/* category */
#category h1{
    font-size: 30px;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: var(--fontbaslik);
    font-weight: 800;
    letter-spacing: 5px;

}
.category-card{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;

}
.category-card .card{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.category-card .card img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.category-card .card span{
    position: absolute;
    bottom: 5%;
    background-color: beige;
    width: 70%;
    text-align: center;
    color: #020000;
    font-family: var(--fontpoppins);
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s linear;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.category-card .card span:hover{
    transform: scale(0.8);
}
/* product */
#product{
    border-top: 3px solid white;
    margin-top: 50px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
#product h1{
    font-size: 30px;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--fontbaslik);
    font-weight: 700;
    letter-spacing: 5px;
    color: #fff;
}
.products{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
}
.product-card{
    max-width: 200px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.product-card img{
    width: 100%;
    border-radius: 10px;
}
.product-card p:nth-child(2){
    font-size: 18px;
    height: 60px;
    padding-top: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: var(--fontpoppins);

}
.product-card p:nth-child(3){
    font-size: 14px;
    padding-top: 5px;
    font-family: var(--fontpoppins);
}
.product-price{
    width: 100%;
    color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px;
    margin-top: 5px;
}
.product-card span{
    color: #ff0000;
    font-family: var(--fontprice);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 3px;
}
.product-price #add-btn{
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    background-color: #faa499;
    font-size: 12px;
    font-weight: 500;
    background-image: linear-gradient(319deg, #faa499 0%, #f7dd85 37%, #ffc55c 100%);
    border: none;
    transition: all .5s linear;
}
.product-price #add-btn:hover{
    scale: 0.8;
}
.product-price #buy-btn{
    border: 1px solid rgb(233, 14, 14);
    padding: 5px 13px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border: none;
    transition: all .5s linear;
}
.product-price #buy-btn:hover{
    scale: 0.8;
}

/* basket modal */
.modal{
    position:fixed;
    display: none;
    place-items: center;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
.active {
    display: grid;
}
.modal-content{
    position: relative;
    width: 70%;
    height: 70%;
}
.modal-header{
    background-color: #fff;
    margin-bottom: 0px;
    border-radius: 10px;
    border: 1px solid #eee;
    border-bottom: none;
}
.modal-header h4{
    width: 80%;
    display: flex;
    font-size: 30px;
    margin: 20px 0 0 15px;
    color: #868686;
}
.modal-header hr{
    margin: 5px 20px 0 20px;
    border-color: rgb(162, 165, 162);
    margin-top: 10px;
}
.item-card{
    padding: 10px;
    min-width: 600px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px 0;
    padding: 0 20px;
    overflow: auto;
}
.item-card .card{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding:  2px 10px;
    border-radius: 15px;
    background-color: #ebebeb;
    margin: 5px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.item-card .card img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.item-card .card .card-info{
    display: flex;
    width: 100%;
    height: 80%;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.card-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.card-add p{
    font-size: 20px;
    font-weight: 700;
}
.card-add p:nth-child(2){
    font-size: 18px;
    color: rgb(168, 168, 168);
}
.card-price{
    font-family:var(--fontprice);
    font-size: 26px;
}
.card-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card-btn button:nth-child(1){
    background: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 25px;
    cursor: pointer;
}
.card-btn button img:nth-child(1){
    width: 32px;
    height: 25px;
    pointer-events: none;
    margin: 0;
    transition: .5s all linear;
}
.card-btn button img:nth-child(1):hover{
    scale: 1.1;
}
.card-btn button:nth-child(3){
    background: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 25px;
    cursor: pointer; 
}
.card-btn button img:nth-child(3){
    width: 32px;
    height: 25px;
    pointer-events: none;
    margin: 0;
    transition: .5s all linear;
}
.card-btn button img:nth-child(3):hover{
    scale: 1.1;
}
.card-btn span{
    font-size: 16px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}
.card #btn-delete{
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s all linear;
}
.card #btn-delete i{
    font-size: 30px;
    cursor: pointer;
    pointer-events: none;

}
.card #btn-delete:hover{
    scale: 0.8;
}
#close-basket{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 5%;
    transition: .5s all linear;
}
#close-basket:hover{
    scale: 1.1;
}
#close-basket img{
    width: 40px;
    height: 40px;
}
.total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-size: 20px;
    padding-bottom: 5px;
}
.total-price{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 5px;
}
.total-price .total-p{
    font-family: var(--fontpoppins);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.total-price .total-s{
    font-family: var(--fontprice);
    font-size: 28px;
    text-align: center;
    color: #6b0d0d;
    padding-left: 5px;
}
.total .payment{
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #f7dd85;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    transition: .5s all linear;

}
.total .payment:hover{
    scale: 1.1;
    background-color: #61fa74;
    color: white;
}
/* login modal */
.modal-login{
    position:fixed;
    display: none;
    place-items: center;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100%;
}
.active{
    display: grid;
}
.modal-login-content{
    border-radius: 10px;
}
.modal-login-content .login-img{
    position: relative;
}
.login-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#close-login{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 5%;
    transition: .5s all linear;
}
#close-login:hover{
    scale: 1.1;
}
#close-login img{
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .5s all linear;
}
#close-login img:hover{
    scale: 0.8;
}
/* register modal */
.modal-register{
    position:fixed;
    display: none;
    place-items: center;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100%;
}
.active{
    display: grid;
}
.modal-register-content{
    border-radius: 10px;
    width: 30%;
}
.modal-register-content .register-img{
    
    position: relative;
}
.register-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#close-register{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 5%;
    transition: .5s all linear;
}
#close-register:hover{
    scale: 1.1;
}
#close-register img{
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .5s all linear;
}
#close-register img:hover{
    scale: 0.8;
}
/* payment modal */
.modal-payment{
    position:fixed;
    display: none;
    place-items: center;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100%;
    z-index: 100;
}
.active{
    display: grid;
}
.modal-payment-content{
    border-radius: 10px;
    width: 40%;
    background-color: #1cfdd6;
    position: relative;
}
.modal-payment-content h4{
    font-size: 20px;
    padding: 10px 15px;
    margin-top: 20px;
    color: #757474;
}
.modal-payment-content p{
    font-size: 16px;
    padding: 5px 15px;
    color: #757474;

}
.modal-payment-content span{
    font-size: 20px;
    color: red;
    font-family: var(--fontpoppins);
    padding: 5px 15px;
    margin-bottom: 30px;
}
.modal-payment-content .payment-img{
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.payment-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#close-payment{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 5%;
    transition: .5s all linear;
}
#close-payment:hover{
    scale: 1.1;
}
#close-payment img{
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .5s all linear;
}
#close-payment img:hover{
    scale: 0.8;
}
.payment-img :nth-child(3){
    width: 50%;
    margin-top: 10px;

}
.payment-now{
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #12471a;
    color: white;
    cursor: pointer;
    transition:.2s linear;
}
.payment-now:hover{
    transform:scale(1.1);
}
/* checkout modal */
.modal-chechout{
    position:fixed;
    display: none;
    place-items: center;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100%;
}
.active {
    display: grid;
}



/* buy now button */
.modal-buynow{
    position:fixed;
    display: none;
    place-items: center;
    width: 100vh;
    height: 100vh;
    top: 0;
    left: 30%;
    border-radius: 10px;
    z-index: 500;
    
}
.active {
    display: grid;
}

.modal-buynow .modal-pay-content{
    border-radius: 10px;
    width: 80%;
    height: 90%;
    background-color: #e5fcf8;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.modal-pay-content h4{
    font-size: 22px;
    padding: 10px 15px;
    margin-top: 10px;
}
.modal-pay-content h4 span{
    font-size: 16px;
    color: #770707;
    padding-left: 10px;
    
}
.modal-pay-content .card-buy{
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    margin: 0 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border: 1px solid rgb(212, 210, 210);
}
.modal-pay-content .card-buy img{
    width: 90px;
    height: 60px;
    border-radius: 10px;
    padding-left: 30px;
    
}
.modal-buynow .modal-pay-content .card-buy .card-info .card-add{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    
}

.modal-pay-content .card-buy .card-info .card-add p{
    font-size: 16px;
    padding: 5px 5px;
}

.modal-pay-content .buynow-img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.buynow-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.buynow-img  #close-buynow{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 3%;
    transition: .5s all linear;
}
.buynow-img #close-buynow:hover{
    scale: 1.1;
}   


.buynow-img .pay-now{
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #12471a;
    color: white;
    cursor: pointer;
    transition:.2s linear;
}
.buynow-img .pay-now:hover{
    transform:scale(1.1);
}

.footer{
    border-top: 3px solid white;
    margin-top: 30px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: flex;
}
.footer-main{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px auto;
}
.footer-logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: start;

}
.footer-logo h1{
    font-family: var(--fontheader);

}
.footer-logo img{
    width: 70px;
    height: 40px;
    padding-right: 20px;
}
.footer-main p{ 
    display: flex;
    font-size: 20px;
    color: #6b0d0d;
}

/* media */
@media (max-width: 600px) {
    header .container .left h1{
        display: none
    }
    .container input{
        display: none
    }


}